[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
wandb = "*"
torchvision = "==0.9.2"
torchaudio = "==0.8.2"
torch = "==1.8.2"
joblib = "*"

[dev-packages]

[requires]
python_version = "3.8"
